<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css"  href="../css/style.css">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Timeline</title>

</head>
<body>
    {{block "layout" $}} {{end}}

<h2>Timeline</h2>

    <ul class=messages>
    {{if eq 0 (len .timeline)}}
        <li><em>There's no message so far.</em></li>
    {{else}}
          {{ range .timeline }}
          <!--TODO: figure out how to call "gravatar_url" with email-->
          <li><img src=""><p>
            <strong><a href="">{{ .Username }}</a></strong>
            {{.Text}}
            <!--TODO: figure out how to call "format_datetime" with the pubdate-->
            <small>&mdash; {{ .PubDate }}</small> 
          </li>
          {{end}}
    {{end}}
</ul>

</body>

</html>